# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
.metadata
*.class

# Package Files #
*.jar
*.war
*.ear
/target


#Tomcat
.recommenders
RemoteSystemsTempFiles
Servers

